<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph Tab</title>
    <%- rdfGraphContent %>
    <link rel="stylesheet" href="styles/styles.css">

</head>
<body>
    <%- include('partials/header.ejs') %>
    <%- rdfGraphScript %>
    <script>
document.addEventListener("DOMContentLoaded", function() {
    // Wait for the Vis network to be initialized
    setTimeout(function() {
        var canvas = document.querySelector("canvas");
        if (canvas) {
            var ctx = canvas.getContext("2d");
            // Save the current drawing state
            ctx.save();
            // Set the composite operation to 'destination-over' to ensure the fill happens beneath existing drawings
            ctx.globalCompositeOperation = 'destination-over';
            // Set the desired background color
            ctx.fillStyle = '#0e1019';
            // Fill the entire canvas with the background color
            ctx.fillRect(0, 0, canvas.width, canvas.height);
            // Restore the drawing state
            ctx.restore();
        }
    }, 1000); // Adjust the timeout duration if necessary
});
</script>
</body>
</html>





