<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RDF Converter</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
</head>
<body>
        <%- include('partials/header.ejs') %>

    <main>
        <section class="intro">
            <div id="particles-js"></div>
            <h1>RDF CONVERTER</h1>
            <h2>Convert your RDF data</h2>
            <p>Input your XML or JSON file and convert the RDF data to some other format</p>
        </section>
       <section class="rdf-converter">
        <div class="input-container">
            <form action="/visualize" method="POST">
                <nav class="input-nav">
                    <ul>

                        <li>
                            <input type="radio" id="xml" name="fileType" value="xml" checked>
                            <div class="circle"></div>
                            <label for="xml">RDF/XML</label>
                        </li>
                        <li>
                            <input type="radio" id="json" name="fileType" value="json" checked>
                            <div class="circle"></div>
                            <label for="json">JSON</label>
                        </li>
                        <li>
                            <input type="radio" id="turtle" name="fileType" value="turtle" checked>
                            <div class="circle"></div>
                            <label for="turtle">Turtle/N3</label>
                        </li>
                    </ul>
                </nav>
                <textarea name="data" placeholder="Paste your data here..."></textarea>
                <button class="cta-button" id="submit-button" type="submit">Submit</button>
            </form>
        </div>
    </section>
    </main>
    <script src="scripts/particles-config.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const xmlTab = document.getElementById('xml-tab');
            const jsonTab = document.getElementById('json-tab');
            const inputBox = document.getElementById('input-box');
            
            xmlTab.addEventListener('click', (e) => {
                e.preventDefault();
                xmlTab.classList.add('active');
                jsonTab.classList.remove('active');
                inputBox.placeholder = 'Paste your XML data here...';
            });
            
            jsonTab.addEventListener('click', (e) => {
                e.preventDefault();
                jsonTab.classList.add('active');
                xmlTab.classList.remove('active');
                inputBox.placeholder = 'Paste your JSON data here...';
            });
        });
    </script>
</body>
</html>


