<footer>
    <div class="footer-buttons">
        <button class="footer-button"><i class="fas fa-info-circle"></i> ABOUT EXAMPLE</button>
        <button class="footer-button"><i class="fas fa-play-circle"></i> DEMO</button>
        <button class="footer-button"><i class="fas fa-github"></i> VIEW ON</button>
    </div>
    <div class="footer-text">
        RDF © 
    </div>
</footer>
</body>
</html>