<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph Tab</title>
    <link rel="stylesheet" href="styles/content.css">
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <%- rdfGraphContent %>
</head>
<body>
      
        <div class="tab-container">
            <div class="tab">
                <span class="tab-label">SEE RESULT AS:</span>
                <span class="tab-divider">&lt;</span>
                <span class="tab-selected"><i class="fas fa-chart-bar"></i> GRAPH</span>
            </div>
            <div class="nav-buttons">
                <span class="nav-button"><i class="fas fa-home"></i> Home</span>
                <span class="nav-button"><i class="fas fa-phone contact-icon-upside-down"></i> Contact</span>
            </div>
        </div>
        <%- rdfGraphScript %>

       



